.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.interface{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
  height: 80%;
  display: flex;
  flex: auto;
  flex-direction: column;
  border: 2px solid gray;
}

.job-icon{
  padding-top: 20px;
  padding: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
  align-items: center;
}

.job-segment{
  display: flex;
  flex: auto;
  flex-direction: column;
}

.job-selection{
  width: 80px;
}

.player-section{
  border: 1px solid lightgrey;
  display: flex;
  flex: auto;
  flex-direction: row;
}

.skill-icon{
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.skill-icon-TL{
  width: 30px;
  height: 30px;
  
}

.skills-section{
  margin: auto;
  padding: 5px;
  max-height: 80%;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-timeline{
  margin: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex: auto;
  flex-direction: row;
}

.timeline{
  
  border: 1px solid #d3d3d3;
  background-color: lightgrey;
  
}

.buff-icon{

  text-align: center;
  width: 30px;
  height: 30px;
  align-items: center;
}


.container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: -2px 2px 10px rgba(0, 0, 0, 1);
  font-weight: bold;
}

.container-TL {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: -2px 2px 10px rgba(0, 0, 0, 1);
  font-weight: bold;
  height: 35;
  margin: 6px;
  align-content: center;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.topLeft {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);

}